<style>
    .user_avatar{
        color:#ffffff;
        overflow: hidden;
        z-index: 9999;
        position: fixed;
        padding:5px;
        text-align:center;
        width: 60px;
        height: 85px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        left: 10px;
        bottom: 10px;
    }
    .user_avatar:hover {
        padding: 5px;
        border: 2px solid #0f6674;
        border-radius: 7px;
        background-color:rgba(0,0,0,0.5)
    }
    .user_avatar1 {
        padding: 5px;
        border: 2px solid transparent;
        border-radius: 7px;
    }
</style>
<footer class="site-footer footer-content-light footer-mobile-content-light">
    <div class="overlay">
        <div class="overlay-inner bg-white"></div>
    </div>
    <div class="container socials-container">
<!--        <nav class="socials-icons">-->
<!--            <ul class="mx-auto">-->
<!--                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>-->
<!--                <li><a href="#"><i class="fab fa-twitter"></i></a></li>-->
<!--                <li><a href="#"><i class="fab fa-instagram"></i></a></li>-->
<!--                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>-->
<!--            </ul>-->
<!--        </nav>-->
        <div class="user_avatar" onclick="hello()">
            <img src="/static/img/bz.ico" alt="" style="width: 50px;">
            <p style="text-align: center;">未登录</p>
        </div>

    </div>
    <div class="container copyright-container">
        <p>© 2020 1509ers - All Rights Reserved</p>
        <p><b>备案号:</b> 桂ICP备20002069号</p>
    </div>
</footer>
<script>
    function hello() {
        alert('hello')
    }
</script>