<div class="header">
</div>
<header class="gird-header">
    <div class="header-fixed">
        <div class="header-inner">
            <a href="/test/index" class="header-logo" id="logo"><img src="/static/logo.png" alt="1509ers" style="width: 100px;"></a>
            <nav class="nav" id="nav">
                <ul>
                    <li><a href="/test/index">首页</a></li>
                    <li><a href="/test/article">帖子</a></li>
                    <li><a href="/test/videos">影视</a></li>
                    <li><a href="/test/bzba">BZBA</a></li>
                    <li><a href="/test/memories">班史</a></li>
                </ul>
            </nav>
            <a href="#" class="blog-user">
<!--                <i class="fa fa-qq"></i>-->
                <img src="/static/index/img/bz.ico" alt="user" style="width: 45px;height: 45px;">
            </a>
            <a class="phone-menu">
                <i></i>
                <i></i>
                <i></i>
            </a>
        </div>
    </div>
</header>