<header class="site-header header-mobile-dark header-content-light header-content-mobile-light">
    <div class="header-brand">
        <!-- Logo -->

        <a class="logo" href="#" style="width: 90%">
            <img src="/static/img/logo.png" alt="" style="width: 35%;">
        </a>

        <button type="button" id="navigation-toggle" class="nav-toggle">
            <span></span>
        </button>

    </div>
    <div class="header-collapse">
        <div class="header-collapse-inner">
            <nav class="site-nav">
                <ul id="navigation">
                    <li>
                        <a href="#home">主页</a>
                    </li>
                    <li>
                        <a href="#videos">电视电影</a>
                    </li>
                    <li>
                        <a href="#airticket">机票查询</a>
                    </li>
                    <li>
                        <a href="#BZBA">BZBA</a>
                    </li>
                    <!-- <li>
                        <a href="#contact">Contact</a>
                    </li> -->
                </ul>
            </nav>
        </div>
    </div>
</header>