{include file="/common/head" /}
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Navbar -->
    {include file="/common/navbar" /}
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    {include file="/common/sidebar" /}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">搜题宝</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">主页</a></li>
                            <li class="breadcrumb-item active">搜题宝</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Main row -->
                <div class="row">
                    <!-- Left col -->
                    <section class="col-sm-12 col-lg-8 offset-lg-2 connectedSortable">
<!--                        查询表单-->
                        <div class="card card-olive">
                            <div class="card-header">
                                <h3 class="card-title"></h3>
                            </div>
                            <div class="card-body">
                                <!-- Date range -->
                                <form class="requestForm">
                                    <div class="form-group" style="text-align: center">
                                        <label>请输入题目</label>
                                        <br>
                                        <label>请不要输入字符(例如\ /  ( ) 等,否则将会无法查询)</label>
                                        <div class="col-lg-6 offset-lg-3">
                                            <div class="input-group mb-1">
                                                <div class="input-group-prepend"></div>
                                                <input type="text" class="form-control" placeholder="请输入题目" id="keyword" name="keyword">
                                            </div>
                                            <button type="button" class="btn btn-default btn-block" id="requestBtn">立即查询</button>
                                        </div>
                                    </div>

                                </form>
                                <!-- /.form group -->
                            </div>
                            <!-- /.card-body -->
                        </div>
<!--                        查询结果-->
                        <div class="card card-default" id="divResult"></div>
                    </section>
                    <!-- /.Left col -->
                    <!-- right col (We are only adding the ID to make the widgets sortable)-->
                    <section class="col-lg-12 connectedSortable">

                    </section>
                    <!-- right col -->
                </div>
                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    {include file="/common/footer" /}
</div>
</body>
{include file="/common/scripts" /}
<script>
    $(function () {
        $("#requestBtn").on('click', function () {
            //清空之前的搜索记录
            document.getElementById('divResult').innerHTML = '';

            //检查是否有留空
            let k = document.getElementById('keyword').value;
            if(k == ''){
                alert("请先输入再查询!");
                return false
            }else{ //无留空，执行
                //创建各种div
                var div = document.getElementById("divResult");
                var div1 = document.createElement("div");
                div1.setAttribute("id","answers");
                div1.setAttribute("class","card-body")
                div.appendChild(div1);0

                var div2 = document.getElementById('answers');
                var span = document.createElement("span");
                //渲染lodinga
                span.innerHTML = "正在为你寻找答案...请稍等";
                div2.appendChild(span);

                //创建视图完毕，开始请求
                $.ajax({
                    type:'GET',
                    url:"{:url('/api/v1.Pythondata/searchQuestion')}",
                    data: $(".requestForm").serialize(),
                    dataType: "JSON",
                    success: function(data){
                        var data_2 = JSON.parse(data)
                        var data_3 = JSON.parse(data_2.data)
                        if(data_2.code == 0){
                            //渲染数据
                            if(data_3.data == undefined){
                                span.innerHTML = "找不到结果,请带着以下信息联系管理员: "+data_3.msg;
                            }
                            renderResult(data_3.data);
                            //数据渲染完毕，把loading去掉
                            div2.removeChild(span);
                        }else{
                            document.getElementById('divResult').innerHTML = '';
                            alert(data.msg);
                        }
                    }
                })
            }
        })
    })

    function renderResult(data){
        var resCard = $('#answers')
        for(var i = 0;i < data.length; i++){
            resCard.append(`
                <div class="callout callout-success">
                     <h6>题目:${data[i].q}</h6>
                     <b style="color: green">答案:${data[i].a}</b>
                </div>
            `)
        }
    }
</script>
</html>