{include file="/common/head" /}
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Navbar -->
    {include file="/common/navbar" /}
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    {include file="/common/sidebar" /}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">电视电影</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">主页</a></li>
                            <li class="breadcrumb-item active">电视电影</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Main row -->
                <div class="row">
                    <!-- Left col -->
                    <section class="col-sm-12 col-lg-8 offset-lg-2 connectedSortable">
<!--                        查询表单-->
                        <div class="card card-green">
                            <div class="card-header">
                                <h3 class="card-title"></h3>
                            </div>
                            <div class="card-body">
                                <!-- Date range -->
                                <form class="requestForm">
                                    <div class="form-group" style="text-align: center">
                                        <label>输入影片名称</label>
                                        <div class="col-lg-6 offset-lg-3">
                                            <div class="input-group mb-1">
                                                <div class="input-group-prepend"></div>
                                                <input type="text" class="form-control" placeholder="输入你想看的影片名" id="videoName" name="videoName">
                                            </div>
                                            <button type="button" class="btn btn-default btn-block" id="requestBtn">立即查询</button>
                                        </div>
                                    </div>

                                </form>
                                <!-- /.form group -->
                            </div>
                            <!-- /.card-body -->
                        </div>
<!--                        查询结果-->
                        <div class="card card-default" id="divResult"></div>
                    </section>
                    <!-- /.Left col -->
                    <!-- right col (We are only adding the ID to make the widgets sortable)-->
                    <section class="col-lg-12 connectedSortable">

                    </section>
                    <!-- right col -->
                </div>
                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    {include file="/common/footer" /}
</div>
</body>
{include file="/common/scripts" /}
<script>
    $(function () {
        $("#requestBtn").on('click', function () {
            //清空之前的搜索记录
            document.getElementById('divResult').innerHTML = '';

            //检查是否有留空
            let dep = document.getElementById('videoName').value;
            if(dep == ''){
                alert("请先输入再查询!");
                return false
            }else{ //无留空，执行
                //创建各种div
                var div = document.getElementById("divResult");
                var div1 = document.createElement("div");
                div1.setAttribute("id","videoList");
                div1.setAttribute("class","card-body")
                div.appendChild(div1);
                var div2 = document.getElementById('videoList');
                var span = document.createElement("span");
                //渲染lodinga
                span.innerHTML = "正在为你寻找影片...请稍等";
                div2.appendChild(span);

                //创建视图完毕，开始请求
                $.ajax({
                    type:'POST',
                    url:"{:url('/api/v1.Pythondata/getVideoListByName')}",
                    data: $(".requestForm").serialize(),
                    dataType: "JSON",
                    success: function(data){
                        var data_2 = JSON.parse(data)
                        // console.log(data_2)
                        if(data_2.code == 0){
                            //渲染数据
                            renderResult(data_2.data);
                            //数据渲染完毕，把loading去掉
                            div2.removeChild(span);
                        }else{
                            document.getElementById('divResult').innerHTML = '';
                            alert(data.msg);
                        }
                    }
                })
            }
        })
    })

    function renderResult(data) {
        // 获取数据
        var list = JSON.parse(data)
        let form = $('#videoList')
        for (let item of list){
            form.append(
                `
                <div class="row">
                                <div class="col-lg-3 connectedSortable" style="text-align: center">
                                    <img src="${item['Cover']}" alt="${item['Name']}" style="width: 50%">
                                </div>
                                <div class="col-lg-5 connectedSortable">
                                    <blockquote>
                                      <h3>${item['Name']}</h3>
                                    </blockquote>
                                    <dl class="row">
                                        <dt class="col-sm-4">国家/地区:</dt>
                                        <dd class="col-sm-8">${item['Tags']}</dd>
                                        <dt class="col-sm-4">上映年度:</dt>
                                        <dd class="col-sm-8">${item['Year']}</dd>
                                        <dt class="col-sm-4">备注:</dt>
                                        <dd class="col-sm-8">${item['MovieTitle']}</dd>
                                    </dl>
                                    <hr>
                                    <div>
                                        <button onclick="goToDetail(${item['ID']})" type="button" class="btn btn-block btn-outline-info">点击查看详情</button>
                                    </div>
                                </div>
                                <div class="col-lg-4 connectedSortable">


                                </div>
                            </div>
                            <hr style="color: #2e6da4">
                `
            )
        }
    }

    function goToDetail(id) {
        window.location.href = "/index/Videos/videoDetail?id=" + id;
    }
</script>
</html>