{include file="/common/head" /}
<style>
    .btnV{
        margin-top: 5px;
        margin-left: 5px;
    }
</style>
<link rel="stylesheet" href="/static/css/DPlayer.min.css">
<style>
    #dplayer {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    .dplayer-logo{
        left: 10px;
        top: 10px;
        max-width: 100px;
        max-height: 50px;
    }
</style>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Navbar -->
    {include file="/common/navbar" /}
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    {include file="/common/sidebar" /}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">主页</a></li>
                            <li class="breadcrumb-item"><a href="/index/videos">电视电影</a></li>
                            <li class="breadcrumb-item active">正在播放--<b id="videoName"></b>--{$name}</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Main row -->
                <div class="row">
                    <!-- Left col -->
                    <section class="col-sm-12 col-lg-6 offset-lg-3 connectedSortable">
                        <input type="text" value="{$video_detail}" hidden id="video_detail">
                        <input type="text" value="{$url}" hidden id="video_url">

                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-play"></i>
                                    正在播放--<b id="videoName2"></b>--{$name}
                                </h3>
                            </div>
                            <div class="card-body">
                                <div id="dplayer"></div>
                                <div id="stats"></div>
                            </div>
                            <!-- /.card -->
                        </div>
                        <hr>
                    </section>
                    <!-- /.Left col -->
                    <!-- right col (We are only adding the ID to make the widgets sortable)-->
                    <section class="col-sm-12 col-lg-6 offset-lg-3 connectedSortable">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-edit"></i>
                                    选集
                                </h3>
                            </div>
                            <div class="card-body" id="videoIndex"></div>
                            <!-- /.card -->
                        </div>
                    </section>
                    <!-- right col -->
                </div>
                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    {include file="/common/footer" /}
</div>
</body>
{include file="/common/scripts" /}
<script src="/static/js/hls.js"></script>
<script src="/static/js/DPlayer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/cdnbye@latest"></script>
<script>
    $(function () {
        var data = document.getElementById('video_detail').value ;
        var url = document.getElementById('video_url').value ;
        var parsed_data = JSON.parse(data)
        var parsed_data2 = JSON.parse(parsed_data.data)
        renderVideoName(parsed_data2)
        renderIndex(parsed_data2)
        var isWap = false;
        if(!isWap){
            var _peerId = '', _peerNum = 0, _totalP2PDownloaded = 0, _totalP2PUploaded = 0;
            var type = 'customHls';
            if(navigator.userAgent.match(/iPad|iPhone|iPod|Baidu|UCBrowser/i)) {
                type = 'normal';
            }
            var dp = new DPlayer({
                container: document.getElementById('dplayer'),
                autoplay: false,//自动播放
                lang:"zh-cn",//语言
                screenshot:true,//截图
                hotkey: true,  //热键
                preload:"auto",//预加载
                logo: '/static/img/logo.png',
                video: {
                    url:url,
                    pic: '',  //封面
                    type: type,
                    customType: {
                        'customHls': function (video, player) {
                            const hls = new Hls({
                                debug: false,
                                p2pConfig: {
                                    logLevel: true,
                                    live: false,        // 如果是直播设为true
                                }
                            });
                            hls.loadSource(video.src);
                            hls.attachMedia(video);
                            hls.p2pEngine.on('stats', function (stats) {
                                _totalP2PDownloaded = stats.totalP2PDownloaded;
                                _totalP2PUploaded = stats.totalP2PUploaded;
                                updateStats();
                            }).on('peerId', function (peerId) {
                                _peerId = peerId;
                            }).on('peers', function (peers) {
                                _peerNum = peers.length;
                                updateStats();
                            });

                        }
                    }
                },
                danmaku: {
                    id: 'efbd974184da4819ab0cc068234a50d3', //弹幕id，随意一个唯一的
                    api: 'https://api.prprpr.me/dplayer/',
                    // api: 'https://dplayer.moerats.com/',//弹幕api 固定
                    bottom: '25%',
                    unlimited: true,
                },
                contextmenu: [
                    {
                        text: '1509ers.com',
                        link: 'https://1509ers.com',
                    },
                ],

            });
            var webdata = {
                set:function(key,val){
                    window.sessionStorage.setItem(key,val);
                },
                get:function(key){
                    return window.sessionStorage.getItem(key);
                },
                del:function(key){
                    window.sessionStorage.removeItem(key);
                },
                clear:function(key){
                    window.sessionStorage.clear();
                }
            };
            dp.seek(webdata.get('vod'+url));
            setInterval(function(){
                webdata.set('vod'+url,dp.video.currentTime);
            },1000);
            dp.on('ended',function() {
                dp.notice("视频播放已结束");
                if(parent.MacPlayer.PlayLinkNext!=''){
                    top.location.href = parent.MacPlayer.PlayLinkNext;}
            });
        }
        else{
            document.getElementById('dplayer').innerHTML='<video src="'+url+'" controls="controls" preload="preload" poster="" width="100%" height="100%" autoplay="autoplay"></video>';
        }
        function updateStats() {
            var text = 'P2P正在为您加速 已加速' + (_totalP2PDownloaded/1024).toFixed(2)
                + 'MB 已分享' + (_totalP2PUploaded/1024).toFixed(2) + 'MB' + ' 连接节点' + _peerNum + '个';
            document.getElementById('stats').innerText = text
        }
    })

    function renderVideoName(data) {
        document.getElementById('videoName').innerHTML=data.Name;
        document.getElementById('videoName2').innerHTML=data.Name;
    }

    function renderIndex(data) {
        let form = $('#videoIndex')
        // console.log(data.MoviePlayUrls)
        var items = data.MoviePlayUrls
        for(let i = 0; i < items.length; i++){
            form.append(`
            <button type="button" class="btn btn-default btnV" onclick="goToPlay('${items[i].PlayUrl}','${items[i].Name}')">${items[i].Name}</button>
            `)
        }
    }
    function goToPlay(url,name) {
        console.log(url)
        var data = document.getElementById('video_detail').value;
        var parsed_data = JSON.parse(data);
        var parsed_data2 = JSON.parse(parsed_data.data);
        var id = parsed_data2.ID;
        window.location.href = "/index/Videos/play?id="+id+"&url="+url+'&name='+name;
    }


</script>
</html>