{include file="/common/head" /}
<style>
    .btnV{
        margin-top: 5px;
        margin-left: 5px;
    }
</style>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Navbar -->
    {include file="/common/navbar" /}
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    {include file="/common/sidebar" /}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark"><b id="videoName"></b>-详情</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">主页</a></li>
                            <li class="breadcrumb-item"><a href="/index/videos">电视电影</a></li>
                            <li class="breadcrumb-item active"><b id="videoName2"></b>-详情</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Main row -->
                <div class="row">
                    <!-- Left col -->
                    <section class="col-lg-8 offset-lg-2 col-sm-12 connectedSortable">
                        <input type="text" value="{$video_detail}" hidden id="video_detail">
                        <div class="card card-green">
                            <div class="card-header">
                                <h3 class="card-title" id="videoName3"></h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4" style="text-align: center">
                                        <img id="videoImg">
                                    </div>
                                    <div class="col-lg-8">
                                        <dl class="row">
                                            <dt class="col-sm-4">片名</dt>
                                            <dd class="col-sm-8" id="videoName4"></dd>
                                            <dt class="col-sm-4">标签</dt>
                                            <dd class="col-sm-8" id="videoTag"></dd>
                                            <dt class="col-sm-4">集数</dt>
                                            <dd class="col-sm-8" id="videoPlayCount"></dd>
                                            <dt class="col-sm-4">上映年份</dt>
                                            <dd class="col-sm-8" id="videoYear"></dd>
                                            <dt class="col-sm-4">剧情简介</dt>
                                            <dd class="col-sm-8" id="videoIntroduction"></dd>
                                        </dl>
                                    </div>
                                    <div class="col-lg-12">

                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </section>
                    <!-- /.Left col -->
                    <!-- right col (We are only adding the ID to make the widgets sortable)-->
                    <section class="col-lg-8 offset-lg-2 col-sm-12 connectedSortable">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-edit"></i>
                                    选集
                                </h3>
                            </div>
                            <div class="card-body" id="videoIndex">

                            </div>
                            <!-- /.card -->
                        </div>
                    </section>
                    <!-- right col -->
                </div>
                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    {include file="/common/footer" /}
</div>
</body>
{include file="/common/scripts" /}
<script type="application/javascript">
    function init() {
        var data = document.getElementById('video_detail').value ;
        var parsed_data = JSON.parse(data)
        var parsed_data2 = JSON.parse(parsed_data.data)
        renderVideoDetail(parsed_data2)
    }
    init();

    function renderVideoDetail(data) {
        renderVideoName(data.Name)
        renderVideoDes(data)
        renderIndex(data)
    }

    function renderVideoName(title) {
        document.getElementById('videoName').innerHTML=title;
        document.getElementById('videoName2').innerHTML=title;
        document.getElementById('videoName3').innerHTML=title;
        document.getElementById('videoName4').innerHTML=title;

    }

    function renderVideoDes(data) {
        var img = document.getElementById('videoImg');
        var videoTag = document.getElementById('videoTag');
        var videoIntroduction = document.getElementById('videoIntroduction');
        var videoPlayCount = document.getElementById('videoPlayCount');
        var videoYear = document.getElementById('videoYear');
        img.src = data.Cover;
        img.alt = data.Name;
        videoTag.innerHTML = data.Tags;
        videoIntroduction.innerHTML = data.Introduction;
        videoPlayCount.innerHTML = data.PlayCount;
        videoYear.innerHTML = data.Year;
    }

    function renderIndex(data) {
        let form = $('#videoIndex')
        // console.log(data.MoviePlayUrls)
        var items = data.MoviePlayUrls
        for(let i = 0; i < items.length; i++){
            form.append(`
            <button type="button" class="btn btn-default btnV" onclick="goToPlay('${items[i].PlayUrl}')">${items[i].Name}</button>
            `)
        }
    }

    function goToPlay(url) {
        console.log(url)
        var data = document.getElementById('video_detail').value;
        var parsed_data = JSON.parse(data);
        var parsed_data2 = JSON.parse(parsed_data.data);
        var id = parsed_data2.ID;
        window.location.href = "/index/Videos/play?id="+id+"&url="+url;
    }

</script>
</html>