{include file="/common/head" /}
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Navbar -->
    {include file="/common/navbar" /}
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    {include file="/common/sidebar" /}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">主页</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">主页</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Main row -->
                <div class="row">
                    <!-- Left col -->
                    <section class="col-lg-12 connectedSortable">
                        <h1 style="font-size: 300px;margin-left: 100px;margin-top: 0px;">:)</h1>
                        <h1 style="margin-left: 10px;font-size: 100px;">Hello, 1509er ~~</h1>
                        <h1 style="margin-left: 10px;margin-top: 0px;" id="pastTime">Working In Progress!</h1>


                    </section>
                    <!-- /.Left col -->
                    <!-- right col (We are only adding the ID to make the widgets sortable)-->
                    <section class="col-lg-12 connectedSortable">

                    </section>
                    <!-- right col -->
                </div>
                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    {include file="/common/footer" /}
</div>
</body>
{include file="/common/scripts" /}
<script type="text/javascript">
    setInterval(function() {
        let date1 = '2018/06/08 17:00:00';  //开始时间
        let date2 = new Date();    //结束时间
        let date3 = date2.getTime() - new Date(date1).getTime();   //时间差的毫秒数

        //计算出相差天数
        let days = Math.floor(date3 / (24 * 3600 * 1000))

        //计算出小时数

        let leave1 = date3 % (24 * 3600 * 1000)    //计算天数后剩余的毫秒数
        let hours = Math.floor(leave1 / (3600 * 1000))
        //计算相差分钟数
        let leave2 = leave1 % (3600 * 1000)        //计算小时数后剩余的毫秒数
        let minutes = Math.floor(leave2 / (60 * 1000))
        //计算相差秒数
        let leave3 = leave2 % (60 * 1000)      //计算分钟数后剩余的毫秒数
        let seconds = Math.round(leave3 / 1000)
        let days2 = days - 365  //玉富毕业天数计算
        let pastTime = " 距离我们毕业已经过去了 " + days + " 天 " + hours + " 小时 " + minutes + " 分钟 " + seconds + " 秒 ";
        document.getElementById("pastTime").innerHTML = pastTime;
    },1000)
</script>
</html>