{include file="/common/head" /}
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- Navbar -->
    {include file="/common/navbar" /}
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    {include file="/common/sidebar" /}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">机票查询</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">主页</a></li>
                            <li class="breadcrumb-item active">机票查询</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Main row -->
                <div class="row">
                    <!-- Left col -->
                    <section class="col-lg-6 connectedSortable">
                        <!--                        查询表单-->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">查询表单</h3>
                            </div>
                            <div class="card-body">
                                <!-- Date range -->
                                <form class="requestForm">
                                    <div class="form-group">
                                        <label>输入出发地、目的地</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-plane-departure"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="出发地，例如：北京" id="dep" name="dep">
                                        </div>
                                        <div class="input-group mb-3">
                                            <button type="button" class="btn btn-block btn-default" onclick="transfer()" style="width: 50%;"><i class="fa fa-arrows-alt-v"></i><i class="fa fa-arrows-alt-v"></i></button>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-plane-arrival"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="目的地，例如：南宁" id="arr" name="arr">
                                        </div>
                                        <label>输入查询日期:</label>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                            </div>
                                            <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="yyyy-mm-dd" data-mask id="date" name="date">
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                    <button type="button" class="btn btn-default btn-block" id="requestBtn">立即查询</button>
                                </form>
                                <!-- /.form group -->
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!--                        查询表单结束-->

                    </section>
                    <!-- /.Left col -->
                    <!-- right col (We are only adding the ID to make the widgets sortable)-->
                    <section class="col-lg-6 connectedSortable">
                        <div class="card card-default" id="divL"></div>
                    </section>
                    <!-- right col -->
                </div>
                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {include file="/common/footer" /}
</div>
<!-- ./wrapper -->
{include file="/common/scripts" /}
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- ChartJS -->
<script src="/static/adminLte/js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="/static/adminLte/js/sparkline.js"></script>
<!-- Select2 -->
<script src="/static/adminLte/js/select2.full.min.js"></script>
<!-- Bootstrap4 Duallistbox -->
<script src="/static/adminLte/js/jquery.bootstrap-duallistbox.min.js"></script>
<!-- bootstrap color picker -->
<script src="/static/adminLte/js/bootstrap-colorpicker.min.js"></script>
<!-- JQVMap -->
<script src="/static/adminLte/js/jquery.vmap.min.js"></script>
<script src="/static/adminLte/js/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="/static/adminLte/js/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="/static/adminLte/js/moment.min.js"></script>
<script src="/static/adminLte/js/jquery.inputmask.bundle.min.js"></script>
<script src="/static/adminLte/js/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="/static/adminLte/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="/static/adminLte/js/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="/static/adminLte/js/jquery.overlayScrollbars.min.js"></script>
<script>
    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()

        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })

        //Datemask dd/mm/yyyy
        $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
        //Datemask2 mm/dd/yyyy
        $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
        //Money Euro
        $('[data-mask]').inputmask()

        //Date range picker
        $('#reservation').daterangepicker()
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({
            timePicker: true,
            timePickerIncrement: 30,
            locale: {
                format: 'MM/DD/YYYY hh:mm A'
            }
        })
        //Date range as a button
        $('#daterange-btn').daterangepicker(
            {
                ranges   : {
                    'Today'       : [moment(), moment()],
                    'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month'  : [moment().startOf('month'), moment().endOf('month')],
                    'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                startDate: moment().subtract(29, 'days'),
                endDate  : moment()
            },
            function (start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
            }
        )

        //Timepicker
        $('#timepicker').datetimepicker({
            format: 'LT'
        })

        //Bootstrap Duallistbox
        $('.duallistbox').bootstrapDualListbox()

        //Colorpicker
        $('.my-colorpicker1').colorpicker()
        //color picker with addon
        $('.my-colorpicker2').colorpicker()

        $('.my-colorpicker2').on('colorpickerChange', function(event) {
            $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
        });

        $("input[data-bootstrap-switch]").each(function(){
            $(this).bootstrapSwitch('state', $(this).prop('checked'));
        });

    })
</script>
<script>

    function transfer() {
        let dep = document.getElementById('dep').value;
        let arr = document.getElementById('arr').value;
        if(dep != ''||arr !=''){
            let mid = arr;
            document.getElementById('dep').value = mid;
            document.getElementById('arr').value = dep;
        }
    }

    function renderResult(data){
        let date = document.getElementById('date').value;
        console.log(date);
        let form = $('#information');
        let information = data.info['data'];
        let flights = information['flight'];
        for ( let item of flights ){
            var depTime = item['depTime'];
            var arrTime = item['arrTime'];
            depTime = depTime.replace(date+' ',"");
            arrTime = arrTime.replace(date+' ',"");
            form.append(
                `<div class="callout callout-info" style="padding: 20px 20px;" id="result">
                                <table style="width: 100%;">
                                        <tbody>
                                            <td style="width: 20%" align="center">
                                                <p style="font-size: 20px;">${item['flightNo']}</p>
                                                <p style="margin-top: -20px;font-size: 7px;">${item['flightType']}</p>
                                            </td>
                                            <td style="width: 20%" align="center">
                                                <p style="font-size: 18px;"><strong>${depTime}</strong></p>
                                                <p style="margin-top: -20px;">${item['depAirport']}</p>
                                            </td>
                                            <td style="width: 20%" align="center">
                                                <i class="fa fa-plane" style="color: #2e6da4"></i>
                                            </td>
                                            <td style="width: 20%" align="center">
                                                <p style="font-size: 18px;"><strong>${arrTime}</strong></p>
                                                <p style="margin-top: -20px;">${item['arrAirport']}</p>
                                            </td>
                                            <td  style="width: 20%" align="center">
                                                <span>￥:</span>${item['cabin']['price']}
                                            </td>
                                        </tbody>
                                </table>
                        </div>`
            )
        }
    }

    $(function () {
        $("#requestBtn").on('click', function () {
            //清空之前的搜索记录
            document.getElementById('divL').innerHTML = '';

            //检查是否有留空
            let dep = document.getElementById('dep').value;
            let arr = document.getElementById('arr').value;
            let date = document.getElementById('date').value;
            if(dep == ''||arr == ''||date == ''){
                alert("必填项不能为空!");
                return false
            }else{ //无留空，执行
                //创建各种div
                var div = document.getElementById("divL");
                var div1 = document.createElement("div");
                div1.setAttribute("id","information");
                div1.setAttribute("class","card-body")
                div.appendChild(div1);
                var div = document.getElementById('information');
                var span = document.createElement("span");
                //渲染lodinga
                span.innerHTML = "正在查询...请稍等";
                div.appendChild(span);

                //创建视图完毕，开始请求
                $.ajax({
                    type:'POST',
                    url:"{:url('/index/pyclimb/callPythonJs')}",
                    data: $(".requestForm").serialize(),
                    dataType: "JSON",
                    success: function(data){
                        if(data.code == 1){
                            //渲染数据
                            renderResult(data);
                            //数据渲染完毕，把loading去掉
                            div.removeChild(span);
                        }else{
                            document.getElementById('divL').innerHTML = '';
                            alert(data.msg);
                        }
                    }
                })
            }
        })
    })
</script>
</body>
</html>
