<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>1509</title>
    <link rel="shortcut icon" href="/static/img/bz.ico">
    <link rel="apple-touch-icon-precomposed" href="/static/img/bz.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="clock" style="margin: 0 auto;"></div>
<div>
    <p id="pastTime"></p>
</div>
</body>
</html>
<script type="text/javascript" src='/static/js/react.min.js'></script>
<script type="text/javascript" src='/static/js/react-dom.min.js'></script>
<script type="text/javascript" src='/static/js/polyfill.min.js'></script>
<script type="text/javascript" src="/static/js/index.js"></script>


